{% extends 'admin/base.html.twig' %}

{% block title %}Gestions des réservations{% endblock %}

{% block body %}

    <main class="container-fluid px-5">
        <h1 class="my-5">Gestion des réservations</h1>
        <table class="table">
            <thead class="t-primary">
                <th>Id</th>
                <th>Date</th>
                <th>Visiteur</th>
                <th>Annonce</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{booking.Id}}</td>
                    <td>{{booking.createdAt|date('d/m/Y H:i')}}</td>
                    <td>{{booking.booker.fullName}}</td>
                    <td>{{booking.ad.title}}</td>
                    <td>{{booking.startDate|date('d/m/Y')}}</td>
                    <td>{{booking.endDate|date('d/m/Y')}}</td>
                    <td>
                        <a href="{{path('admin_booking_edit',{'id':booking.id})}}" class="btn btn-info btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td>
                        <a href="{{path('admin_booking_delete',{'id':booking.id})}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
