{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}

<main class="container">
    <h1 class="mt-5 mb-3">{{ controller_name }}</h1>
    <div class="row">
        {% for ad in ads %}

            {% set url=path('ads_single',{'slug':ad.slug}) %}
            <div class="col-md-4">
                <div class="card">
                        
                        <div class="card-header bg-primary text-light">{{ad.rooms}} chambres <strong>{{ad.price}}€ / nuit</strong></div>
                        <div class="card-body">
                            <a href="{{ url }}">
                                <img src="{{ad.coverImage}}" alt="{{ad.title}}" class="img-fluid" style="height:200px; width:100%; display:block;">
                            </a>
                            <h4 class="card-title mt-3">{{ad.title}}</h4>
                            <p class="card-text">{{ad.introduction}}</p>
                            <a href="{{ url }}" class="btn btn-warning">+ d'infos</a>
                        </div>
                    <div class="card-footer text-muted">
                        <span>Pas encore noté</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>   
{% endblock %}
