{% extends 'base.html.twig' %}

{% block title %} {{ad.title}} {% endblock %}
{% block body %}

    <div class="ad-title" style="background-image:url({{ad.coverImage}})">
        <div class="container">
            <h1>{{ad.title}}</h1>
            <p>{{ad.introduction}}</p>
            <p>{{ad.rooms}} chambres pour {{ad.price}}€ / nuit</p>
            <a href="{{path('booking_create',{'slug':ad.slug})}}" class="btn btn-warning">Réserver !</a>

            {% if app.user and app.user == ad.author %} <!-- condition pour que seulement l'auteur de l'annonce puisse la modifier en faisant apparaitre ce lien -->
            <a href="{{path('ads_edit',{'slug':ad.slug})}}" class="btn btn-info">Modifier l'annonce</a>
            <a href="{{path('ads_delete',{'slug':ad.slug})}}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir supprimer cette annonce ?`)">Supprimer l'annonce</a>
            {% endif %}

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 md-3">
                {{ad.content|raw}}

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        {% for image in ad.images %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" class="{% if loop.first %}active {% endif %}" aria-current="true" aria-label="Slide 1"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{image.url}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ad.title}}</h5>
                                    <p>{{image.caption}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>
                <hr>

                {% if ad.comments|length > 0 %}

                    <h3>Commentaires des voyageurs</h3>

                    <div class="alert alert-info">
                        <h6 class="alert-heading">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    Note globale des voyageurs :
                                </div>
                                <div class="col-5">
                                    {% include 'inc/rating.html.twig' with {'rating': ad.averageRatings} %} <br>
                                    <small class="taille">Cette moyenne est calculée sur  {{ad.comments|length}} avis.</small>
                                </div>
                            </div>
                        </h6>
                    </div>

                    {% for comment in ad.comments %}

                        <div class="bg-light-rounded">
                            <p><strong>{{comment.author.fullName}}</strong> a dit : </p>
                            <blockquote>{{comment.content}}</blockquote>
                            <p>Note donnée : 
                                {% include 'inc/rating.html.twig' with {'rating' : comment.rating} %}
                            </p>
                        </div>

                    {% endfor %}

                {% else %}

                <h3 class='h6'>Cette annonce n'a pas de commentaire.</h3>

                {% endif %}

            </div>

            <div class="col">

            <!-- creation d'une variable pour éviter d'écrire ad.author entièrement dans les lignes suivantes -->
            {% set a = ad.author %} 
            
                <div class="row">
                    <div class="col-4">
                        <a href="{{path('app_user_show',{'slug':a.slug})}}">
                            <img src="{{ a.avatar }}" alt="{{ a.fullName }}" class="avatar avatar-medium">
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{path('app_user_show',{'slug':a.slug})}}">
                            <h3>{{ a.fullName }}</h3>
                        </a>
                        <span class="badge badge-warning">{{ a.ads | length }} {% if a.ads | length > 1 %} annonces {% else %} annonce {% endif %}</span>
                    </div>
                </div>
                <div class="col py-3">
                    {{ a.introduction | raw}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}